.map-section {
  width: 65%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 16px 0 0 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.map-section h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.map-section button {
  padding: 8px 16px;
  margin: 10px 0;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.map-section button:hover {
  background-color: #3367d6;
}

.map {
  margin: 0 auto;
  margin-top: 2rem;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 500px;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2rem;
}
