@font-face {
  font-family: CabinCondensed;
  src: url(../../assets/fonts/CabinCondensed/CabinCondensed-Regular.ttf);
}

.header-container {
  height: 125px;
  background-color: #090126;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 90px;
  font-size: 32px;
  font-family: CabinCondensed;
}

.header-logo {
  font-size: 36px;
  font-weight: bold;
}

.header-pages a {
  margin-inline: 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease;
}

.header-pages a:hover {
  transform: scale(1.15);
  transform-origin: center;
}

.header-profile a {
  margin-inline: 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease;
}

.header-profile a:hover {
  transform: scale(1.15);
  transform-origin: center;
}
